body {
  font-family: Inter, system-ui, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  min-width: 480px;
  padding: 10px 20px;
}

.postNumber {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

nav h2 {
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
}

nav button {
  min-width: 84px;
  flex-shrink: 0;
}

button {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #e9ecef;
}

.post-desc {
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.comments {
  margin-top: 20px;
  list-style: none;
}

.comments > li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
}
